#logo {
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #0ecde9;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #0ecde9 0%,
    #025e83 100%
  );
  background: radial-gradient(#517491, #90d2f8c3);
}

#names {
  display: grid;
}

body {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  margin-top: 1rem;
  height: 50px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #000000;
}

.nav > .nav-links > a:hover {
  background-color: rgba(7, 66, 214, 0.052);
  border-radius: 15px;
}

.nav > #nav-check {
  display: none;
}

.contact-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.email,
.first-name,
.last-name {
  width: 60%;
  margin-bottom: 1rem;
  border-radius: 7px;
  height: 2rem;
  text-align: left;
}

.message {
  width: 60%;
  height: 10rem;
  margin-bottom: 1rem;
  border-radius: 7px;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid rgb(24, 3, 3);
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

#function-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card,
.card2,
.card3,
.card4 {
  background-image: url("https://i.ytimg.com/vi/bIpzLC-c6Qo/maxresdefault.jpg");
  color: rgb(20, 3, 3);
  border-radius: 30px;
  padding: 3em;
  width: 100%;
  max-width: 420px;
  margin: 1rem;
  margin-top: 5rem;
}
#twocards {
  display: flex;
  justify-content: space-around;
}

#othercards {
  display: flex;
  justify-content: space-around;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  margin-bottom: 2rem;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
input.search-bar {
  border: 2px solid rgb(156, 155, 155);
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  color: rgb(61, 55, 55);
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
  margin-bottom: 2rem;
}

button:hover {
  background: hsl(240, 2%, 28%);
}

h1.temp {
  margin-top: 1rem;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}
