#logo{
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

*{
    box-sizing: border-box;
}

html{
    height: 100%;
    background: #0ecde9;
    background: -webkit-radial-gradient(center,
    ellipse cover,
    #0ecde9 0%,
    #025e83 100%
  );
  background: radial-gradient(#b2caea, #4ab8f8);
}

#names{
    display: grid;
}

body{
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
}
